<div class="container-fluid footer pb-5">
    <div class="d-flex justify-content-around">
        <div>
            <img src="../assets/logo.jpeg" alt="logo">
        </div>
        <div class="ml-5">
            <div class="mb-5">
                <p class="display-4 mt-3 mb-0" style="font-size: 25px; color:plum">SEGUITECI</p><br>
                <a href="https://www.instagram.com/shop_luxury_design_/"><i class="bi bi-instagram"
                        style="color:plum; font-size: 28px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="https://www.facebook.com/shopluxurydesign/"><i class="bi bi-facebook"
                        style="color:plum; font-size: 28px"></i></a><br>
            </div>
            <div>
                <p class="display-4 mt-3 mb-0" style="font-size: 25px; color:plum;">CONTATTI</p><br>
                <i class="bi bi-telephone" style="color:plum; font-size: 20px"></i>&nbsp;&nbsp;<span
                    style="color:plum; font-size: 18px;">+39 393022625</span><br>
            </div>
        </div>
        <div>
            <div class="mb-5">
                <p class="display-4 mt-3 mb-0" style="font-size: 25px; color:plum;">QUALITÀ</p><br>
                <i class="bi bi-gem" style="color:plum; font-size: 30px; margin-left:40px;"></i>
            </div>
            <div>
                <p class="display-4 mt-3 mb-0" style="font-size: 25px; color:plum;">ASSISTENZA</p><br>
                <i class="bi bi-arrow-through-heart-fill" style="color:plum; font-size: 30px; margin-left:40px;"></i>
            </div>
        </div>
    </div>
</div>