<div class="container-fluid" id="blackBox">
    <div class="row">
        <div class="col-4 d-flex justify-content-center ml-5 my-5">
            <h2 style="font-family:sans-serif">
                <h1 class="text-center" style="font-family:fantasy; font-size: larger;"><b>BENVENUTI</b></h1>
                Scegliete le vostre stampe preferite per i quadri di lusso più glamour da appendere al chiodo.<br>
                Fate le vostre composizioni, saremo lieti di accontentarvi tutti!
            </h2>
        </div>
        <div class="col-7 d-flex justify-content-center">
            <img src="../assets/logo.jpeg" alt="logo">
        </div>
    </div>
    <div class="py-5" id="section2">
        <h1 class="text-center"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px">I NOSTRI
            BEST-SELLERS</h1>
    </div>
</div>