<div class="container-fluid" id="blackBox">
    <div class="row" id="rowBox">
        <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
            <img src="../assets/logo.jpeg" alt="logo">
        </div>
        <div class="col-lg-5 col-sm-10 d-flex justify-content-center my-5" style="margin-left: 150px;">
            <h2 style="font-family:sans-serif">
                <h1 class="text-center" style="font-family:fantasy; font-size: larger;"><b>BENVENUTI</b></h1>
                Scegliete le vostre stampe preferite per i quadri di lusso più glamour da appendere al chiodo.<br>
                Fate le vostre composizioni, saremo lieti di accontentarvi tutti!
            </h2>
        </div>
    </div>
    <div class="py-5" id="section2">
        <h1 class="text-center mb-5"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px">I NOSTRI
            BEST-SELLERS</h1>
        <div class="container d-flex justify-content-around">
            <img src="../assets/43.jpeg" alt="">
            <img src="../assets/52.jpeg" alt="">
            <img src="../assets/49.jpeg" alt="">
        </div>
        <div class="container d-flex justify-content-end mt-5">
            <div>
                <a class="btn" (click)="vediTutto()">
                  <div class="py-2">
                    <b>VEDI TUTTO</b>
                  </div>
                </a>
              </div>
        </div>
    </div>
</div>