
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/2.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/3.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/10.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/34.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/39.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/38.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/26.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/50.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/7(2).jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/4.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/49.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/5.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/18.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/19.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/17.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/20.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/21.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/22.jpeg" alt="">
        </div>
    </div>
    
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/27.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/30.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/29.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/31.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/32.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/33.jpeg" alt="">
        </div>
    </div>
    
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/36.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/47.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/48.jpeg" alt="">
        </div>
    </div>
    <div class="row d-flex justify-content-center py-5">
        <div class="col-3">
            <img src="../assets/13.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/14.jpeg" alt="">
        </div>
        <div class="col-3">
            <img src="../assets/8.jpeg" alt="">
        </div>
    </div>
    
   
